#map { 
    height: 100vh; 
    width: 100%;
}

#app{
    height: 100vh;
    width: 30vw;
}

*{
    margin: 0px;
}

body{
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
}
