@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

#map {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
  z-index: -1;
}

#sidebutt {
  border: 0px;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0);
}

#app {
  height: 100vh;
  width: 30vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.logo {
  height: auto;
}

strong {
  font-family: "Poppins", sans-serif;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
}

.sidebar .flightButtonList {
  width: 80%;
  height: auto;
}

.sidebar button {
  border: 2px solid;
  font-family: "Poppins", sans-serif;
  border-color: whitesmoke;
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding: 8px 8px 8px 8px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
  display: block;
  transition: 0.3s;
  width: 100%;
}
