@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

#map {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
  z-index: -1;
}

#sidebutt {
  border: 0px;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0);
}

#app {
  height: 100vh;
  width: 30vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #152238; */
  overflow-x: hidden;
  transition: 0.5s;
}

.logo {
  height: auto;
}

a {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 1rem;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
}

.sidebar .flightButtonList {
  width: 80%;
  height: auto;
}

.sidebar button {
  border: 2px solid;
  border-color: whitesmoke;
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding: 8px 8px 8px 8px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
  display: block;
  transition: 0.3s;
  width: 100%;
}
